$primary-color: #000;
$secondary-color: #fff;
$background-color: #fff;
$primary-font: Lato;
$font-size: 1.45rem;
$font-style: normal;
$color: #444444;

$fontPrice-weight: bold;
$fontPricefont-size: 1.65em;
$fontPrice-color: #06799F;

$button-background: #1BB21B;
$button-color: #fff;
$button-fontSize: 1.5rem;
